@{
    ViewData["Title"] = "LoanDisApproved";
}

<h1>Details</h1>

<div>
    <h4>Unfortunately we have bad new!</h4>
</div>
<div>

    <a asp-controller="Login" asp-action="Create">Please click here to create your account</a>
</div>
