@{
    ViewData["Title"] = "LoanApproved";

}

<h1>Congratulations! Your loan was approved.</h1>

<div>
    <h2>Here are your loan details:</h2>
</div>
<div>
    <h4>Loan amount: $@ViewData["loan"]</h4>
    <h4>Interest Rate: @ViewData["interest_rate"]% APR</h4>
    <h4>Tenure: @ViewData["tenure"] months</h4>
    <h4>App ID:@ViewData["app_id"]</h4>
    <h4>Loan Details ID:@ViewData["loan_details_id"]</h4>
</div>
<div>
    <a asp-controller="BankDetails" asp-action="Create">Please click here to give your bank details.</a>
</div>
