@model eLoan.Models.Login
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{ ViewData["Title"] = "Create"; }

<h1>Please create your login credentials</h1>

@*<h4></h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="password" class="control-label"></label>
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>*@
        @*<div class="form-group">*@
            @*<label asp-for="customer_id" class="control-label"></label>*@
            <p>Your customer ID is : @HttpContextAccessor.HttpContext.Session.GetInt32("customer_id")</p>
            @*<select asp-for="customer_id" class="form-control" asp-items=@HttpContextAccessor.HttpContext.Session.GetInt32("customer_id")></select>*@
        @*</div>*@
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
s

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
