@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To E-Loan</h1>
    <p><a href="/Address/create">To start your Application please click here</a>.</p>
</div>
